spring:
  application:
    name: demo
  datasource:
    url: jdbc:mysql://localhost:3306/dbVeterinariaDAW
    username: root
    password: mysql
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080

security:
  jwt:
    secret-key: una_clave_super_secreta_y_segura_1234567890
    expiration: 180000

