spring:
  application:
    name: demo
  datasource:
    url: jdbc:mysql://localhost:3306/dbVetcare
    username: root
    password: vercris2040_123
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080

security:
  jwt:
    secret-key: vercris2040_123
    expiration-minutes: 15
    refresh-expiration-days: 7
