spring:
  application:
    name: demo
  datasource:
    url: jdbc:mysql://localhost:3306/db2Rojas
    username: root
    password: admin123
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080